*{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.paint{
    border: 1px solid black;
}

.diana{
    border: 1px solid black;
}